#[link(name = "css",
       vers = "0.1")];
#[crate_type = "lib"];

extern mod std;
extern mod netsurfcss;
extern mod wapcaplet;

pub mod color;
pub mod values;

pub mod lexer;
pub mod lexer_util;
pub mod parser;
pub mod parser_util;

